* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: bisque; */
  /* background-image: linear-gradient(brown, yellow);
   */
   
}

#wholePage{
    background-image: linear-gradient(rgba(255, 166, 0, 0.573),rgb(56, 29, 29));
    overflow-x: hidden;
}

#orderPage {
  height: 100vh;
  width: 100%;
  /* background-image: linear-gradient(brown, yellow); */
  /* background-image: linear-gradient(rgba(255, 166, 0, 0.573),rgb(56, 29, 29)); */
}

#navbar {
  height:10%; 
  width:100%; 
  display: flex;
  align-items: center;
  gap: 70px;
  padding:10px;
  
  
}

#logo {
  height: 50px;
  width: 60px;
  background-position: center;
  background-size: cover;
}



#nav {
  display: flex;
  gap: 70px;
}

#nav a {
  font-size: 22px;
  list-style: none;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: rgb(65, 43, 15);
}

#menu{
    height:90%;
    width:100%;
}

#coffeeIm{
    height:180px;
    width:180px;
    
    
}

#menu1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    height:270px;
    width:220px;
    /* background-color: rgb(91, 44, 44); */
    background-image: linear-gradient(rgb(23, 2, 2), rgb(212, 171, 93));
    position: absolute;
    top:80px;
    left:50px;
    padding:5px;
    box-shadow: 4px 4px 5px rgb(88, 26, 19);
}
#menu2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    height:270px;
    width:220px;
    background-image: linear-gradient(rgb(23, 2, 2), rgb(212, 171, 93));
    position: absolute;
    top:80px;
    left:320px;
    padding:5px;
    box-shadow: 4px 4px 5px rgb(88, 26, 19);
}
#menu3{
    box-shadow: 4px 4px 5px rgb(88, 26, 19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    height:270px;
    width:220px;
    background-image: linear-gradient(rgb(23, 2, 2), rgb(212, 171, 93));
    position: absolute;
    top:80px;
    left:590px;
    padding:5px;
}
#menu4{
    box-shadow: 4px 4px 5px rgb(57, 17, 12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    height:270px;
    width:220px;
    background-image: linear-gradient(rgb(23, 2, 2), rgb(212, 171, 93));
    position: absolute;
    top:380px;
    left:50px;
    padding:5px;
}
#menu5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    height:270px;
    width:220px;
    background-image: linear-gradient(rgb(23, 2, 2), rgb(212, 171, 93));
    position: absolute;
    top:380px;
    left:320px;
    padding:5px;
    box-shadow: 4px 4px 5px rgb(57, 17, 12);
}
#menu6{
    box-shadow: 4px 4px 5px rgb(57, 17, 12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    height:270px;
    width:220px;
    background-image: linear-gradient(rgb(23, 2, 2), rgb(212, 171, 93));
    position: absolute;
    top:380px;
    left:590px;
    padding:5px;
}

#hotBox{
    box-shadow: 4px 4px 5px rgb(57, 17, 12);
    height:400px;
    width:360px;
    background-image: linear-gradient(rgb(23, 2, 2), rgb(212, 171, 93));
    position: absolute;
    top:80px;
    right:55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    padding:5px;
}

#hotIm{
    height:300px;
    width:280px;
}

/* #total{
    height:100vh;
    width:100%;
    overflow: hidden;
} */

#totCard{
    height:100px;
    width:250px;
    background-color: antiquewhite;
    position: absolute;
    bottom:60px;
    right:55px;
}

#cartLogo{
    height:50px;
    width:60px;
    position: absolute;
    right:180px;
    bottom:40px;
    
}

#num{
    position: absolute;
    right:160px;
    bottom:72px;
}

#checkout{
    position: absolute;
    bottom:10px;
    right:10px;
    padding:3px;
}


#totals{
    
    background-color: transparent;
    font-size: 20px;
    position: absolute;
    bottom:10px;
    right:125px;
    }




    #orderPlacePage{
        height:100vh;
        width:100%;
        /* background-image: linear-gradient(rgba(255, 166, 0, 0.573),rgb(56, 29, 29)); */
        
    }

    #final{
        position:relative;
        top:50px;
        left:435px;
    }

    #orderBox{
        height:500px;
        width:400px;
        background-color: rgb(245, 237, 224);
        position: relative;
        top:80px;
        left:430px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding-top: 80px;;
               
        
    }

    #orderBox input{
        padding:15px;
        width:80%;
        
    }

    #orderTotal{
        height:40px;
        width:200px;
        padding-top:10px;
    }

    #orderTotalp{
        font-size: 20px;
    text-align: center;
    }

    #submitButton{
        padding:10px;
    }


    /* The Modal (background) */


   